@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    background-color: #FEFDF9;
}

.logo-header img {
    float: left;
    margin: 2em 2em;
}

.menu img {
    margin: 1em 0;
    float: right;
    margin: 2.7em 2em;
    cursor: pointer;
}

nav {
    visibility: hidden;
}

.hero-image img {
    max-width: 100%;
    padding: 2em;
}

.hero-header {
    margin-top: -37em;
}

.hero-image-desktop img {
    visibility: hidden;
}

.hero-header h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 3.8em;
    margin: 0em 1em 0em .5em;
    line-height: 1em;
}

.hero-header span {
    display: block;
}

.hero-rest p {
    padding: 1em 5em 0 0;
    margin: 1em 0 1.5em 2em;
}

.hero-rest input[type = button] {
    background-color: #F35B53;
    cursor: pointer;
    border: 1px none;
    padding: 2em 8em;
    border-radius: 3em;
    color: white;
    font-weight: 700;
    margin: 0 0 1em 2em;
}

.hero-rest input[type = button]:hover {
    background-color: #00001A;
    transition: 0.6s;
}

.mid-section {
    background-color: #00001A;
    color: White;
    margin: 2em;
    padding: 2.5em;
}

.mid-header h2 {
    font-size: 2.5em;
    color: #F35B53;
    margin: 0 0 .8em;
}

.mid-text-1 h3 {
    margin-bottom: .5em;
    font-size: 1.4em;
    cursor: pointer;
}

.mid-text-1 h3:hover {
    color: #F35B53;
    transition: 0.4s;
}

.mid-text-1 p {
    font-size: .9em;
    margin-bottom: 1em;
    color: #B6B6CE;
}

.mid-text-2 h3 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.4em;
    cursor: pointer;
}

.mid-text-2 h3:hover {
    color: #F35B53;
    transition: 0.4s;
}

.mid-text-2 p {
    font-size: .9em;
    margin-bottom: 1em;
    color: #B6B6CE;
}

.mid-text-3 h3 {
    margin-top: 1em;
    margin-bottom: .5em;
    font-size: 1.4em;
    cursor: pointer;
}

.mid-text-3 h3:hover {
    color: #F35B53;
    transition: 0.4s;
}

.mid-text-3 p {
    font-size: .9em;
    margin-bottom: 1em;
    color: #B6B6CE;
}

.bottom-section {
    display: flex;
    flex-direction: column;
}

.bottom-subhead-1 {
    padding: 2em;
}

.bottom-subhead-text-1 h2 {
    font-size: 5em;
    font-family: 'DM Serif Display', serif;
    padding-left: 2.7em;
    color: #C7C6CC;
}

.bottom-subhead-text-1 h3 {
    margin: 0 0 .3em 11.5em;
    font-weight: 900;
    cursor: pointer;
}

.bottom-subhead-text-1 h3:hover {
    color: #F35B53;
    transition: 0.4s;
}

.bottom-subhead-text-1 p {
 margin: 0 0 0 13.5em;
}

.bottom-subhead-image-1 {
    float: left;
}

.bottom-subhead-image-2 {
    float: left;
}

.bottom-subhead-2 {
    padding: 2em;
}

.bottom-subhead-text-2 h2 {
    font-size: 5em;
    font-family: 'DM Serif Display', serif;
    padding-left: 2.7em;
    color: #C7C6CC;
}

.bottom-subhead-text-2 h3 {
    margin: 0 0 .3em 11.5em;
    font-weight: 900;
    cursor: pointer;
}

.bottom-subhead-text-2 h3:hover {
    color: #F35B53;
    transition: 0.4s;
}

.bottom-subhead-text-2 p {
 margin: 0 0 0 13.5em;
}

.bottom-subhead-image-3 {
    float: left;
}

.bottom-subhead-3 {
    padding: 2em;
}

.bottom-subhead-text-3 h2 {
    font-size: 5em;
    font-family: 'DM Serif Display', serif;
    padding-left: 2.7em;
    color: #C7C6CC;
}

.bottom-subhead-text-3 h3 {
    margin: 0 0 .3em 11.5em;
    font-weight: 900;
    cursor: pointer;
}

.bottom-subhead-text-3 h3:hover {
    color: #F35B53;
    transition: 0.4s;
}

.bottom-subhead-text-3 p {
 margin: 0 0 0 13.5em;
}

@media screen and (min-width: 768px) {
    .hero-header h1 {
        font-size: 6em;
    }

    .hero-header span {
        display: inline-block;
    }

    .hero-rest input[type = button] {
      padding: 2.54em 10em;
    }

    .hero-rest p {
        padding: 1em 7em 0 1em;
    }
    
}

@media screen and (min-width: 1200px) {
    .hero-image img {
        display: none;
        visibility: hidden;
    }
    
    .hero-image-desktop img {
        visibility: visible;
        max-width: 100%;
        padding: 1em 3em;
    }

    .top-part{
        margin-top: 38em;
    }

    .bottom-section {
        display: flex;
        flex-direction: row;
    }

    .hero-rest input[type = button] {
        padding: 2.54em 10em;
        margin-left: 3em;
    }
    
    .bottom-subhead-text-2 p {
        margin: 0 0 0 13.5em;
    }

    .bottom-subhead-image-1 {
        margin-top: 1.5em;
    }

    .bottom-subhead-image-2 {
        margin-top: 1.5em;
    }

    .bottom-subhead-image-3 {
        margin-top: 1.5em;
    }

    .bottom-subhead-2 {
        margin-right: 2em;
    }
       
}

@media screen and (min-width: 1920px) {
    body {
        margin: 0 10em;
    }

    nav {
        visibility: visible;
    }

    ul

    .left-main {
        width: 60%;
    }

    .mid-section {
        width: 22%;
        float: right;
        margin-top: -68.5em;
        padding-bottom: 7.5em;
    }

    .hero-image-desktop {
        width: 78%;
    }


    .hero-header h1 {
        width: 160%;
        font-size: 5.3em;
        padding-right: 2em;
    }

    .hero-header .fullscreen {
        display: block;
    } 

    .hero-header span {
        display: inline;
    }

    .hero-rest {
        text-align: center;
        margin-top: -38em;
        margin-bottom: 20em;
        margin-left: 8em;
        height: 30%;
    }
    
    .hero-rest p {
        text-align: left;
        width: 65%;
        font-size: 1.05em;
        margin-left: 2em;
    }

    .top-part {
        display: flex;
    }

    .bottom-section {
        margin-top: -25em;
        width: 100%;
    }

    .hero-rest input[type = button] {
        padding: 2em 12.5em;
        margin-top: -1.5em;
        float: left;
    }

}